nav {
    height: 50px;
    width: 100%;
    background-color: $site-black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
        font-size: 20px;
        color: $site-white;
    }
}